
body {
    background-color: #2FADD2;
    font-family: Lato, serif;
}

.form-heading {
    color: #F6FDFE;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-input {
    color: #F6FDFE;
}

.form-user-input {
    color: #373F51;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 0 -1px;
}

.form-login, .form-registration {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 2px solid #F6FDFE;
}

.btn {
    border-radius:  50rem;
    border: 2px solid;
}

.btn-primary {
    color: #F6FDFE;
    background-color: #2FADD2;
    border-color: #F6FDFE;
}

.btn-primary:hover {
    color: #F6FDFE;
    background-color: #2CA4C9;
    border-color: #F6FDFE;
}

.info-box {
    color: #F6FDFE;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}