@import "_base.scss";

.book-card-container {
  padding: 1rem;
}

.book-card-body {
  border: 2px solid $mid-color!important;
}

.br-navbar {
  background-color: $dark-color;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 54px;
  z-index: 100;
}

.br-navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $light-color;
  background-color: $dark-color;
}