@import "main.scss";

.font-weight-bolder {
  font-weight: 900 !important;
}

.br-container-fluid {
  min-height: 100vh;
}

.bg-blue {
  background-color: $primary-color;
}

.bg-grey {
  background-color: lighten($mid-color, 36%);
}

.ice-white-text {
  color: $light-color;
}

.main-text-color {
  color: $dark-color;
}

.grey-text-color {
  color: $mid-color;
}

.left-blue-border {
  border-left: 25px solid;
  border-color: $primary-color;
}

.header-border {
  border-bottom: 8px solid;
  border-color: $primary-color;
  max-width: 10rem;
}

.content-header {
  padding-top: 20px;
}

.br-vCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.br-content-container {
  padding-left: 54px;
}

.book-container,.book-form-container {
  padding: 1rem;
}