@import "base.scss";

.font-weight-bolder {
  font-weight: 900 !important;
}

.br-container-fluid {
  min-height: 100vh;
}

.bg-blue {
  background-color: $primary-color;
}

.bg-grey {
  background-color: lighten($mid-color, 36%);
}

.ice-white-text {
  color: $light-color;
}

.main-text-color {
  color: $dark-color;
}