@import "_base.scss";
@import "_grid.scss";
@import "_layout.scss";
@import "_components.scss";

.book-card-container {
    padding: 1rem;
}

.book-card-body {
    border: 2px solid $mid-color!important;
}

.shadow {
    box-shadow: 0 0 .25rem .25rem rgba(0, 0, 0, 0.05) !important;
}

.welcome-box {
    padding: 20px;
    height: 100%;
}




.form-user-input {
    color: $dark-color;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 0 -1px;
}





.br-navbar {
    background-color: $dark-color;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 54px;
    z-index: 100;
}

.br-navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $light-color;
    background-color: $dark-color;
}

.br-nav-item {
    height: 54px;
    width: 54px;
    position: relative;
}

.br-nav-item:hover {
    /*background-color: $primary-color;*/
    cursor: pointer;
}

.br-nav-link {
    display: block;
    height: 54px;
    width: 54px;
    color:$light-color;
    text-decoration: none;
    transition:.25s;
}

.br-nav-link:hover {
    background-color: $primary-color;
    color: $light-color;
    text-decoration: none;
}

.br-nav-link:active {
    color: $light-color;
    background-color: $primary-color;
}

.br-nav-link.active{
    background-color: $primary-color;
}

.br-nav-icon {
    width: 26px;
}

.log-out-btn {
    background-color: $dark-color;
    color: $light-color;
    border-color: $dark-color;
}

.add-book-btn {
    background-color: $light-color;
    border-color: $primary-color;
    color: $primary-color;
}

.add-book-btn:hover {
    background-color: $primary-color;
    color: $light-color;
    border-color: $primary-color;
}





@media (max-width: 700px) {
    .form-login, .form-registration {
        width: 100%;
        max-width: 100%;
        min-width:100%;
        padding: 0;
        margin: 0 auto;
        border: none;
    }
    .br-content-container {
        padding-left: 0;
        padding-bottom: 96px;
    }
    .br-navbar {
        bottom: 0;
        height: 96px;
        width: 100%;
        z-index: 100;
    }
    .br-navbar-nav li{
        display: inline-block;
    }
    .br-nav-link {
        display: inline-block;
        height: 96px;
        width: 100%;
    }
    .br-nav-item {
        height: 96px;
        width: 33%;
    }
    .br-nav-item:last-of-type {
        width: 34%;
    }
    .br-nav-icon {
        height: 40px;
        width: auto;
    }
}